.cuerpo {
    background-color: #dddddd;
    height: 100%;
}

#recuperar {
    color: #68b474;
}

#recuperar:hover {
    color: #cf8728;
}

#Ingresar {
    background-color: #68b474;
}

#Ingresar:hover {
    background-color: black;
}