.button-menu{
  margin-left: 5%;
  margin-top: 1.5%;
  margin-bottom: 2.5%;
}
.example-sidenav {
  padding: 50px;
}
.mat-drawer-inner-container{
  display: block !important;
}
.mat-drawer-inner-container > button{
  margin-top: 1.5%;
}
li p {
  position: relative;
  top: 6px;
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  color: #ffff;
}

li .icono-menu {
  float: left;
  margin-left: 10px;
  position: relative;
  padding: 5px;
  color: white;
}

.menu{
  z-index: -1;
  margin-top: 20px;
}

